.comment_block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    max-width: 500px;
    margin: 10px;
    padding: 5px;
  }
  
  .comment_block.post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .div-block-2 {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .div-block-3 {
    width: 20px;
    height: 20px;
  }
  
  .header_comment_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    max-width: none;
    margin: 0px;
    padding: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  
  .main_image_comment_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .forward_icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .action_on_post_icon {
    width: 20px;
    height: 20px;
    max-width: none;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    font-size: 20px;
  }
  
  .author_icon_profil {
    width: 40px;
    height: 40px;
    max-width: none;
    border-radius: 50%;
  }
  
  .image-4 {
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .comment_section_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .action_comment_section {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    height: 43px;
    padding: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #dadada;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  
  .div-block-8 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 461px;
    height: 22px;
    max-height: 22px;
    max-width: 461px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .image-5 {
    width: 18px;
    height: 18px;
    max-width: none;
    float: left;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 50%;
  }
  
  .button {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  
  .header_comment_section {
    position: relative;
    display: block;
    padding: 5px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
  }
  
  .profil_icon_commenter {
    margin: 10px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 50%;
  }
  
  .list-item_right {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .comment_text_block {
    margin: 10px;
    padding: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 15px;
    background-color: #e2e2e2;
    font-weight: 400;
  }
  
  .list_of_comments {
    display: block;
    overflow: auto;
    padding-right: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  
  .write_comment {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }
  
  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
  }
  
  .comment_input {
    width: 100%;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #e2e2e2;
  }
  
  .image-6 {
    margin: 10px 20px 20px;
    border-radius: 50%;
  }
  
  .div-block-9 {
    border: 1px none #000;
  }
  
  .div-block-10 {
    border: 1px none #000;
  }
  
  .form-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .submit-button {
    width: 50px;
    height: 50px;
    border-radius: 35px;
  }
  
  .button-2 {
    width: 100%;
  }
  
  .button-3 {
    width: 100%;
  }
  
  .paragraph {
    margin-bottom: 0px;
    padding: 10px;
  }
  