<p>main-conteneur works!</p>

<div class="main_container">
    <div class="container_left">
      <header id="nav" class="sticky-nav">
        <nav class="w-container">
          <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-_1165a2ca-057e-4b91-7bf8-2761c2eae7a6-b9ccd343">
              <a href="#" class="nav-logo-link"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="nav-logo"></a>
            </li>
            <li>
              <a href="#" class="nav-link">Features</a>
            </li>
            <li>
              <a href="#" class="nav-link">Pricing</a>
            </li>
            <li>
              <a href="#" class="w-button">Button Text</a>
            </li>
          </ul>
        </nav>
      </header>
      <ul role="list" class="list_page_centrale">
        <li class="item_containeur_left"></li>
        <li class="item_containeur_left"></li>
        <li class="item_containeur_left"></li>
      </ul>
    </div>
    <div class="container_middle">
      <ul role="list" class="list_page_centrale">
        <li class="item_containeur_left"></li>
        <li class="item_containeur_left"></li>
        <li class="item_containeur_left"></li>
      </ul>
    </div>
    <div class="container_right">
      <ul role="list" class="list_page_centrale">
        <li class="item_containeur_left"></li>
        <li class="item_containeur_left"></li>
        <li class="item_containeur_left"></li>
      </ul>
    </div>
  </div>