<p>dialog-conteneur works!</p>
<div class="dialogue_conteneur">
    <div class="dialog_en_tete"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="central_dialog_image">
        <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image_sport_context">
        <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="destination_image_context"></div>
    <div class="dialog_contenu"></div>
    <div class="dialog_bas_de_page"></div>
  </div>